html {
  background-color: #1f2937;
  color: whitesmoke;
}

.hero {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

#hero-txt {
  width: 300px;
}

#hero-img {
  width: 200px;
  height: auto;
}
