html {
  background-color: #1f2937;
  color: whitesmoke;
}

img {
  max-width: 200px;
  height: auto;
}

#header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

#nav {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
}

#hero {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

#hero-txt {
  width: 300px;
}

#hero-img {
  width: 200px;
  height: auto;
}
